#credit {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeInUpBig;
  animation-duration: 1s;
  animation-delay: 0s;

  a {
    display: block;

    img {
      &:hover {
        animation-name: headShake;
        animation-duration: 1s;
      }
    }
  }

  p {
    letter-spacing: 2px;
    font-size: 0.6rem;
  }
}
