@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/Lato-Bold.ttf');
}
