.game__content {
  @extend .text__content;

  .featured__img {
    margin-top: 32px;
    margin-bottom: 0;

    & + h1 {
      margin-top: 16px;
    }
  }

  .platforms-release__wrapper {
    margin-bottom: 16px;

    @include medium-screens-up {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-weight: bold;
      font-size: 0.9rem;
      margin: 0;

      &:nth-of-type(2) {
        margin-top: 8px;

        @include medium-screens-up {
          margin-top: 0;
        }
      }
    }
  }

  hr {
    display: block;
    margin: 32px auto;
    width: 90%;
    height: 2px;
    border: none;
    background-color: $grey-blue;
  }
  
  .button-link {
    animation-duration: 0.75s;

    &:hover {
      animation-name: pulse;
    }

    margin: 32px auto 0;
    width: 100%;

    @include medium-screens-up {
      width: 300px;
    }

    & > a {
      background-color: $red;
      color: $white;
      border-color: $red;
      text-decoration: none;
      width: 100%;

      &:hover {
        color: $midnight-blue;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}
